# Node modules
node_modules/

# Build output
dist/
build/
.next/
out/
tsconfig.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# OS / Editor files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Cache
.cache/
.next/cache